@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Playfair+Display:ital@1&display=swap');
*{
    text-align: center;
    margin: 0%;
  
}
#subtitulo{
    color:  hsl(26, 100%, 55%);
    text-align: left;   
}
#texto,
#descricao,
#desconto
{
    text-align: left;
}
#titulo{
    text-align: left;
    font-size: 3em ;
    font-family: 'Kumbh Sans', sans-serif;
}
#imagemprincipal{
    border-radius: 1em;
}
.containers{
    display: flex;
    width: 3em;
    margin-left: -1.5em;
}
.itens{
    margin: 1em;
}
#porcentagem{
    background-color: hsl(25, 100%, 94%);
    color: orange;
    height: 1em;
}
#dinheiro,
#porcentagem{
    font-size: 1.7em;
}
#desconto{
    font-size: 1.2em;
    color: gray;
    margin-top: -1.2em;
    margin-left: 0.3em;
    text-decoration: line-through;
}
#tenis{
    border-radius: 1em;  
    margin:  0.2em;
}
#miniatura{
    margin-left: -3em;
}